################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet-Eagle-Second-20150711_log.ldf
/aspnet-Eagle-Second-20150711.mdf
