<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>
    <variable name="newLine" value="\r\n"/>
    <targets  async="true"  keepFileOpen="false">
      <target name="fileTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate}${newline} ${message}${newline} 线程ID ${threadid} ${pad} ${stacktrace} " fileName="${logDirectory}/${level}/${shortdate}.txt"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    </rules>
  </nlog>
</configuration>