<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IpAddress" value="10.2.0.172" />
    <add key="MachineName" value="我的电脑嘿嘿" />
    <add key="MachineId" value="E2F75329-4B82-4417-805B-65E1485EFD4C" />
    <add key="Server" value="True" />
    <add key="ProcessList" value="w3wp" />
    <add key="MsmqAddress" value="10.2.0.172" />
    <add key="PirateAddress" value="first.eagle.com" />
    <add key="AuspiciousIp" value="10.2.0.172" />
    <add key="AuspiciousPort" value="15882" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=aspnet-Eagle-Second-20150711;User Id=sa;Password=123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>